version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: stream_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4
    container_name: stream_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  backend:
    build: ./backend
    container_name: stream_backend
    command: uvicorn server:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend/storage:/app/storage
      - ./backend:/app
    environment:
      DB_HOST: postgres
      DB_NAME: stream_db
      DB_USER: stream_user
      DB_PASS: stream_pass
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  frontend:
    build: ./frontend
    container_name: stream_frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html 
      - ./backend/storage/frames:/usr/share/nginx/html/storage/frames
    depends_on:
      - backend
    
volumes:
  pgdata:
